@tailwind base;
@tailwind components;
@tailwind utilities;

.modal *,
.article * {
  color: #f5f3ff !important;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.article h1,
.article h2,
.article h3,
.article h4 {
  color: #ddd6fe !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
