@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  transition: background-color ease 0.5s, color ease-out 0.2s;
}

.section,
.header,
.footer {
  @apply container w-full;
}
.section {
  @apply pb-4 px-4 text-center md:px-6;
}

.header,
.footer {
  @apply px-0 md:px-6;
}

p {
  @apply text-neutral-700 dark:text-neutral-300 text-base font-normal;
}

.section > p {
  @apply max-w-[800px] mx-auto md:text-xl leading-relaxed lg:text-lg xl:text-xl;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply font-bold dark:text-neutral-200 text-neutral-800;
}
h1,
.h1 {
  @apply text-3xl sm:text-3xl md:text-6xl lg:text-7xl;
}
h2,
.h2 {
  @apply text-3xl md:text-5xl lg:text-5xl;
}
h3,
.h3 {
  @apply text-2xl md:text-4xl lg:text-4xl;
}
h4,
.h4 {
  @apply text-xl md:text-3xl lg:text-3xl;
}
h5,
.h5 {
  @apply text-lg md:text-xl lg:text-xl;
}
h6,
.h6 {
  @apply text-base md:text-lg lg:text-xl;
}
.green-icon {
  @apply top-[-8px] right-[-8px] absolute z-40 w-5 h-5 bg-green-500 border-2 border-white border-color rounded-full;
}

.button-area {
  @apply flex gap-3 mx-auto max-w-[600px] flex-wrap;
}

.buttons {
  @apply shrink min-w-fit mx-auto sm:max-w-[290px] w-full;
}

.border-color {
  @apply dark:[border:1px_solid_#2F2F31] border;
}

.cards {
  @apply overflow-hidden rounded-xl border transform-gpu border-color;
}
/* .card-hover {
 @apply pointer-events-none absolute inset-0 transform-gpu;
}
 */

/* .cards {
 @apply overflow-hidden rounded-xl [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)] transform-gpu border-color border border-color dark:[box-shadow:0_-20px_20px_-20px_#ffffff1f_inset];
}
.card-hover {
 @apply pointer-events-none absolute inset-0 transform-gpu transition-all duration-300 group-hover:bg-black/[.03] group-hover:dark:bg-neutral-800/10;
}
 */

#header,
#footer {
  @apply w-full flex items-center container md:rounded-xl justify-between xl:transform-gpu xl:bg-opacity-80 xl:backdrop-filter xl:bg-transparent backdrop-blur m-0 p-2 md:dark:[border:1px_solid_#2F2F31] md:border;
}


/* #header,
#footer {
  @apply w-full flex items-center container md:rounded-xl justify-between px-4  md:dark:[border:1px_solid_#2F2F31] md:border bg-gray-300 xl:bg-gradient-to-t z-50;
}
 */